@font-face {
  font-family: 'Artegra Sans';
  src: url('../fonts/ArtegraSans/artegrasans-bold-webfont.woff2') format('woff2'),
       url('../fonts/ArtegraSans/artegrasans-bold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}




@font-face {
  font-family: 'Artegra Sans';
  src: url('../fonts/ArtegraSans/artegrasans-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/ArtegraSans/artegrasans-bolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}




@font-face {
  font-family: 'Artegra Sans';
  src: url('../fonts/ArtegraSans/artegrasans-extrabold-webfont.woff2') format('woff2'),
       url('../fonts/ArtegraSans/artegrasans-extrabold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}




@font-face {
  font-family: 'Artega Sans';
  src: url('../fonts/ArtegraSans/artegrasans-extrabolditalic-webfont.woff2') format('woff2'),
       url('../fonts/ArtegraSans/artegrasans-extrabolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}




@font-face {
  font-family: 'Artegra Sans';
  src: url('../fonts/ArtegraSans/artegrasans-extralight-webfont.woff2') format('woff2'),
       url('../fonts/ArtegraSans/artegrasans-extralight-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}




@font-face {
  font-family: 'Artegra Sans';
  src: url('../fonts/ArtegraSans/artegrasans-extralightitalic-webfont.woff2') format('woff2'),
       url('../fonts/ArtegraSans/artegrasans-extralightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}




@font-face {
  font-family: 'Artegra Sans';
  src: url('../fonts/ArtegraSans/artegrasans-italic-webfont.woff2') format('woff2'),
       url('../fonts/ArtegraSans/artegrasans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}




@font-face {
  font-family: 'Artegra Sans';
  src: url('../fonts/ArtegraSans/artegrasans-light-webfont.woff2') format('woff2'),
       url('../fonts/ArtegraSans/artegrasans-light-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}




@font-face {
  font-family: 'Artegra Sans';
  src: url('../fonts/ArtegraSans/artegrasans-lightitalic-webfont.woff2') format('woff2'),
       url('../fonts/ArtegraSans/artegrasans-lightitalic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}




@font-face {
  font-family: 'Artegra Sans';
  src: url('../fonts/ArtegraSans/artegrasans-medium-webfont.woff2') format('woff2'),
       url('../fonts/ArtegraSans/artegrasans-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}