@font-face {
  font-family: 'Miama Regular';
  src: url('../fonts/Miama/miama-webfont.woff2') format('woff2'),
       url('../fonts/Miama/miama-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}